

<div class="image-container" style="
    background-image: url('/images/about.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    height: 100vh; /* Ensure the container takes up the full viewport height */">
        <br><br><br><br>
        <br><br><br><br>

        <div>
        <p class="description">

        </p>

    </div>
</div>


    <article>                
       


       
        
<br><br><br><br>        
<br><br><br><br>        



      <div class="container" style=" display: flex; align-items: flex-start; justify-content: flex-start;">
            <div style="flex: 1;">

                <ul>
                  <h3>About Me</h3>


                        I am about creating innovative software solutions and working with data to drive insights and optimize performance.  I enjoy tackling complex challenges, from software development to leveraging data-driven approaches that deliver measurable results.💻📈📊 <br><br>
                        When I’m not coding, you’ll find me attending events, playing indoor soccer ⚽🥅, or at the GYM.</li>
                </ul>
            </div>
        </div>
  
  <br><br>
  
      <div class="container" style=" display: flex; align-items: flex-start; justify-content: flex-start;">
          <div style="flex: 1;">
                    <ul>
                            <h3>In Progress</h3>
                            <strong>Azure Developer Associate Certification.</strong> <br>
                            <link rel="stylesheet" href="https://www.youtube.com/watch?v=jZx8PMQjobk&t=227s">
                            <a href="https://www.youtube.com/watch?v=jZx8PMQjobk&t=227s" class="Resource">
                                <a href="https://www.youtube.com/watch?v=jZx8PMQjobk&t=227s">Resource</a>


                            

                    </ul>
          </div>
      </div>


     </article>



   

      <br><br>

      <article> 


      <div class="container" style=" display: flex; align-items: flex-start; justify-content: flex-start;">
        <div style="flex: 1;">

      <div class="video-container">
        <div class="video-wrapper">
            <iframe 
                src="https://www.youtube.com/embed/kGT4PcTEPP8"
                title="Portfolio Introduction"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
        </div>
    </div>
</div>
</div>

    
       
        <br>
        <br>
       
       
        

            
  </article>